{% extends "clayout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <h1>Failed Transaction History</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Symbol</th>
          <th scope="col">coins</th>
          <th scope="col">Price</th>
          <th scope="col">Time</th>

          
        </tr>
      </thead>
      <tbody>
          {% for i in failed %}
        <tr>
          <td>{{ "BTCUSD" }}</th>
          <td>{{ i["coin"] }}</td>
          <td>${{ i["price"] }}</td>
          <td>{{ i["time"] }}</td>          
          {% endfor %}
        </tr>
      </tbody>
    </table>

{% endblock %}
